.footer__link{
  list-style: none;
  text-decoration: none;
  color: #1A1B22;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  transition: opacity 0.4s;
}

.footer__link:hover {
  opacity: 0.6;
}

@media screen and (max-width: 485px) {
  .footer__link {
    font-size: 18px;
    line-height: 48px;
  }
}
