.table-line__item {
  list-style: none;
  display: inline;
  color: #B6BCBF;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  letter-spacing: 0.4px;
  text-transform: uppercase;

}
