.search__title {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 64px;
    font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
    max-width: 608px;
    margin: 80px auto 32px;
}

@media screen and (max-width: 768px) {
    .search__title {
        max-width: 385px;
        padding-right: 67px;
        margin: 40px auto 16px;
        font-size: 36px;
        line-height: 40px;
    }
}

@media screen and (max-width: 480px) {
    .search__title {
        padding-right: 0px;
        max-width: 285px;
        margin: 30px auto 16px;
    }
}