@import url("./table-line-main/table-line-main.css");
@import url("./table-line__list/table-line__list.css");
@import url("./table-line/table-line.css");

.table__container {
  max-width: 1232px;
  margin: 0px auto 0px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1439px) {
  .table__container {
    margin-left: 7.22vw;
    margin-right: 7.22vw;
  }
}

@media screen and (max-width: 768px) {
  .table__container{
    margin-left: 5.21vw;
    margin-right: 5.21vw;
  }
}
