.history-card__email {
  margin-top: 0px;
  margin-bottom: 6px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: #1A1B22;
}
