.search__button {
    width: 168px;
    height: 64px;
    border: 0;
    border-radius: 50px 50px 50px 50px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    background-color: #2F71E5;
    color: #fff;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    position: absolute;
    right: 0px;
}

@media screen and (max-width: 768px) {
    .search__button {
        width: 160px;
        height: 56px;
    }
}

@media screen and (max-width: 480px) {
    .search__button {
        width: 288px;
        height: 56px;
        bottom:32px;
    }
}