@import url("./__title.css");
@import url("./__ref.css");

.results-header {
    text-align: center;
    display: flex;
    justify-content: space-between;
    max-width: 1232px;
    margin-left: 6.5vw;
    margin-right: 6.5vw;
    align-items: center;
}

@media screen and (max-width: 768px) {
  .results-header {
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media screen and (max-width: 643px) {
  .results-header  {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (max-width: 320px) {
  .results-header {
    margin-left: 16px;
    margin-right: 16px;
  }
}
