@import url("./__image.css");
@import url("./__description/__description.css");

.results-card {
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s;
}


.results-card:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}


