.search__subtitle {
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    max-width: 608px;
    margin: 0px auto 64px;
}

@media screen and (max-width: 768px) {
    .search__subtitle {
        max-width: 452px;
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 24px;
    }
}

@media screen and (max-width: 480px) {
    .search__subtitle {
        max-width: 288px;
        margin-bottom: 64px;
    }
}