<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" type="image/png" href="<%=require('./images/favicon.png').default%>" />
  <meta name="author" content="Иван Винокуров">
  <meta name="description" content="NewsAnalyzer - сервис для поиска и анализа происходящих в мире событий">
  <meta name="keywords" content="HTML5, CSS, Java Script, Webpack, Яндекс.Практикум">
  <title>Аналитика</title>
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css %>">
</head>

<body class="body">
  <div class="page">
    <div class="search">
      <header class="header">
        <h3 class="header__title">NewsAnalyzer</h3>
        <ul class="header__list">
          <li class="header__list-item"><a href="./index.html" class="header__ref header__ref_active">Главная</a></li>
          <li class="header__list-item"><a href="./about.html" class="header__ref">О проекте</a></li>
        </ul>
      </header>
    </div>
    <div class="search-data">
      <ul class="breadcrumbs">
        <li class="breadcrumb"><a class="breadcrumb-link" href="./index.html">Главная</a></li>
        <li class="breadcrumb breadcrumb__active">/ Аналитика</li>
      </ul>
      <h3 class="search-data__title">Вы спросили: </h3>
      <p class="search-data__weeks">Новостей за неделю: <span class="search-data__bold-weeks"></span></p>
      <p class="search-data__titles">Упоминаний в заголовках: <span class="search-data__bold-titles">235</span></p>
    </div>
    <div class="table">
      <h3 class="table__title">Аналитика по дням</h3>
      <div class="table__container">
        <div class="table-line-main">
          <p class="table__date">Дата </p>
          <div class="table__mentions">Кол-во упоминаний</div>
        </div>
        <ul class="table-line__list">
          <li class="table-line__item">0</li>
          <li class="table-line__item">25</li>
          <li class="table-line__item">50</li>
          <li class="table-line__item">75</li>
          <li class="table-line__item">100</li>
        </ul>
        <div class="table-line">
          <p class="table-line-date" id="6-date"></p>
          <p class="table-line-chart table-line-chart__1" id="6-line"></p>
        </div>
        <div class="table-line">
          <p class="table-line-date" id="5-date"></p>
          <p class="table-line-chart table-line-chart__2" id="5-line"></p>
        </div>
        <div class="table-line">
          <p class="table-line-date" id="4-date"></p>
          <p class="table-line-chart table-line-chart__3" id="4-line"></p>
        </div>
        <div class="table-line">
          <p class="table-line-date" id="3-date"></p>
          <p class="table-line-chart table-line-chart__4" id="3-line"></p>
        </div>
        <div class="table-line">
          <p class="table-line-date" id="2-date"></p>
          <p class="table-line-chart table-line-chart__5" id="2-line"></p>
        </div>
        <div class="table-line">
          <p class="table-line-date" id="yesterday-date" ></p>
          <p class="table-line-chart table-line-chart__6" id="yesterday-line"></p>
        </div>
        <div class="table-line">
          <p class="table-line-date" id="today-date"></p>
          <p class="table-line-chart table-line-chart__7" id="today-line"></p>
        </div>
        <ul class="table-line__list">
          <li class="table-line__item">0</li>
          <li class="table-line__item">25</li>
          <li class="table-line__item">50</li>
          <li class="table-line__item">75</li>
          <li class="table-line__item">100</li>
        </ul>
      </div>
    </div>
    <footer class="footer">
      <p class="footer__copyright">&copy; 2020 Supersite</p>
      <ul class="footer__links">
        <li class="footer__list-item"><a href="./index.html" class="footer__link">Главная</a></li>
        <li class="footer__list-item"><a href="./about.html" class="footer__link">О проекте</a></li>
        <li class="footer__list-item"><a href="https://praktikum.yandex.ru/" class="footer__link"
            target="_blank">Яндекс.Практикум</a></li>
      </ul>

      <ul class="footer__column-links">
        <li class="footer__link-item"><a href="https://github.com/Vinkrv" class="footer__column-link"
            target="_blank"><img src="<%=require('./images/github.svg').default%>" class="footer__social-icons"
              alt="ссылка на гитхаб"></a></li>
        <li class="footer__link-item">
          <a href="https://www.facebook.com/profile.php?id=100008564050321" class="footer__column-link" target="_blank">
            <img src="<%=require('./images/fb.svg').default%>" class="footer__social-icons" alt=“facebook”></a>
        </li>
      </ul>
    </footer>
  </div>
  <script src="<%= htmlWebpackPlugin.files.js %>"></script>
</body>

</html>
