.table__date {
  color: #B6BCBF;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 26px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  width: 58px;
  margin-right: 48px;
}

@media screen and (max-width: 320px) {
  .table__date {
    line-height: 16px;
    margin-right: 16px;
  }
}
